@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

header li {
  display: inline-block;
  align-items: center;
}

header li:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  display: block;
  transition: width 0.5s;
}

header li:hover:after {
  width: 100%;
}

.bg-primary-color {
  background-color: #3a2720;
}

.text-primary-color {
  color: #3a2720;
}

.image-wrapper {
  @apply absolute;
  @apply inset-0;
  @apply z-0;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 700px;
}

.header-clipping {
  @apply relative;
}

.header-clipping:before {
  @apply w-full;
  @apply inset-0;
  @apply absolute;
  background-color: #3a2720;
  content: "";
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.toggle {
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 9999;
}
.toggle:focus {
  outline: none;
}
.toggle:before,
.toggle:after {
  @apply right-0;
  @apply absolute;
  @apply transition-all;
  @apply duration-200;
  @apply bg-yellow-400;
  content: "";
  height: 3px;
  transform-origin: center;
}
.toggle:before {
  top: 26%;
  width: 20px;
}
.toggle:after {
  top: 58%;
  width: 12px;
}

.toggle.active:before,
.toggle.active:after {
  width: 20px;
  top: 50%;
}

.toggle.active:before {
  transform: translateY(-50%) rotate(-45deg);
}
.toggle.active:after {
  transform: translateY(-50%) rotate(45deg);
}


.card {
  @apply relative;
  @apply p-6;
  @apply border-2;
  @apply rounded-md;
}

/* .card:hover {
  @apply border-yellow-500;
  @apply border;
  @apply transition-all;
  @apply duration-200;
} */

.card:hover button {
  @apply bg-yellow-500;
  @apply text-white;
  @apply transition-all;
  @apply duration-200;
  @apply border-yellow-500;
}

/* .card svg {
  @apply fill-gray-400;
} */

/* .card:hover svg {
  @apply fill-yellow-500;
  @apply transition-all;
  @apply duration-200;
} */

.item svg {
  @apply fill-yellow-500;
}

.card-socialmedia {
  @apply border;
  @apply border-yellow-500;
  @apply p-4;
}

.card-socialmedia:hover {
  @apply border;
  @apply bg-yellow-100;
  @apply p-4;
}

.card-information {
  @apply relative;
  @apply border-2;
}

.-mt-26{
  margin-top: -6.5rem;
}
